* {
	transition: all .2s;
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style-type: none;
}

div,
p,
a,
img,
form,
button {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.scroll-dis {
	overflow: hidden;
}

.container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.article-h {
	display: none;
}

/* TOP HEADER */

.black-bar {
	background-color: #00122f;
	color: white;
	padding: 20px 0;
	font-size: 16px;
}

.black-bar a {
	color: white;
}

.content{
	display: flex;
	justify-content: space-between;
}

 
/* Mobile bock */
.top__block-mobile{
display: none;
}

.menu-button {
	cursor: pointer;
	border: 0;
	outline: 0;
	position: relative;
	width: 20px;
	height: 3px;
	background: black;
	margin-left: 4px;
}

.menu-button::after, .menu-button::before {
	transition: all 0.2s;
	position: absolute;
	content: '';
	display: block;
	width: 20px;
	height: 2px;
	background: black;
	top: 0;
	left: 0;
}

.menu-button::after {
top: 8px;
}

.menu-button::before {
top: -7px;
}

.open {
  background: transparent;
}

.open::after {
  transform: rotate(-45deg);
  top: 0;
}

.open::before {
  transform: rotate(45deg);
  top: 0;
}

.top__block-mobile {
	display: none;
}

.menu-container {
	display: none;
}

.menu-container a {
	font-size: 18px;
	padding-bottom: 15px;
	margin-bottom: 15px; 
	border-bottom: 1px solid #ebebeb;
}

.menu-container a:last-child {
	border-bottom: none;
}

.active {
	display: flex;
  flex-direction: column
}
.logo-mobile {
    display: inline-block;
    vertical-align: middle;
}

.logo-mobile h4{
	vertical-align: middle;
	display: inline-block;
}

.mobile-input input[type=search] {
	background: transparent url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border:none;
	padding: 9px 10px 9px 32px;
	width: 100%;
}
.mobile-input input[type=search] {
	width: 15px;
	color: #ebebeb;
	cursor: pointer;
}
.mobile-input input[type=search]:hover {
	background-color: #fff;
}
.mobile-input input[type=search]:focus {
	width: 100%;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
.mobile-input input:-moz-placeholder {
	color: transparent;
}
.mobile-input input::-webkit-input-placeholder {
	color: transparent;
}

.top__block-menu-mobile {
	display: none;
}





/* END OF MOBILE BLOCK */

.top__block {
	margin-top: 40px;
}

.top__block a {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
}

.logo-header {
	display: inline-block;
	vertical-align: middle;
	width: 75px;
	color: #00122f;
	text-decoration: none;
}

.top__block img {
	display: inline-block;
	vertical-align: middle;
}

.city__block {
	margin-left: 60px;
	display: inline-block;
	vertical-align: middle;
}

.city__block-text {
	display: inline-block;
	vertical-align: middle;
	color: #85afda;
	border-bottom: 1px dashed #85afda;
}

.city__block-ico {
	padding-left: 10px;
	margin-left: 5px;
	background: url('../img/down-arrow.png') no-repeat 0% 70%;
}

.top__block-date {
	margin-left: 25px;
	display: inline-block;
	vertical-align: middle;
	color: #a2a2ae;
}

.top__block-time {
	margin-left: 30px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 30px;
	background: url('../img/clock.png') no-repeat 0% 50%;
	background-size: contain;
	color: #b2b2bb;
}

.top__block-weather {
	margin-left: 30px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 40px;
	background: url('../img/cloudy.png') no-repeat 0% 50%;
	background-size: contain;
	color: #b2b2bb;
}

.top__block-form {
	margin-left: 53px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.desktop-input {
	padding-left: 20px;
	width: 320px;
	height: 45px;
	background: #f3f3f3;
	border: none;
	outline: none;
	border-radius: 30px;
	font-size: 14px;
}

.top__block-form button {
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	border: 0;
	right: 10px;
	width: 16px;
	height: 16px;
	position: absolute;
	background: url('../img/search.png');
	background-repeat: no-repeat;
	z-index: 1;
}

/* NAVIGATION */


.nav {
	padding-top: 35px;
}

.nav ul {
	padding: 0;
	list-style: none;
	font-size: 16px;
}

.nav a {
	text-decoration: none;
	color: #00122f;
}

.nav li {
	display: inline-block;
}

.nav li::after {
	color: #e5e5e8;
	content: '/';
	margin: 0 20px;
}

.nav ul li:last-child::after {
	display: none;
}



/* LEFT ASIDE */

.column-left {
	display: flex;
  flex-direction: column;
	background-color: #FFFFFF;
	width: 250px;
	float: left;
}

.column-left h2 {
	padding: 28px 18px;
	margin-bottom: 35px;
	font-size: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.news-item {
	padding-left: 18px;
	padding-top: 27px;
	font-size: 14px;
}

.news-item-text {
	margin-bottom: 20px;
}

.news-item-props {
	font-size: 12px;
	position: relative;
}

.news-item-props a {
	color: #91919f;
}

.props-block {
	float: right;
}

.news-time {
	display: inline-block;
	vertical-align: middle;
	margin-right: 21px;
	padding-left: 15px;
	background-image: url('../img/time.png');
	background-repeat: no-repeat;
}

.news-comments-count {
	margin-right: 37px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
	background-image: url('../img/comments.png');
	background-repeat: no-repeat;
}

.all-news {
	padding-top: 33px;
	text-align: center;
	padding-top: 30px;
	text-align: center;
	padding-bottom: 25px;
}

.all-news a {
	margin: 0 auto;
	display: block;
	width: 177px;
	border: 1px solid;
	border-radius: 40px;
	text-decoration: none;
	padding: 15px;
	color: #448ccb;
}


.course-app {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	border-top: 1px solid #e5e5e5;
	font-size: 14px;
	text-align: center;
}

/* CENTER COLUMN */

.column-center {
	width: 420px;
	margin-left: 20px;
	float: left;
}

.central-container {
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url('../img/central-bg-top.png');
	background-repeat: repeat-x;
}

.center__main {
	position: relative;
}

.main__block {
	position: absolute;
	bottom: 16px;
	padding: 20px;
}

.center__date {
	color: #FFFFFF;
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
}

.center__time {
	display: inline-block;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 12px;
	background-image: url('../img/clock-white.png');
	background-repeat: no-repeat;
	padding-left: 15px;
	margin-left: 20px;
}

.center__main a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}

.center__main h2 {
	margin-bottom: 24px;
	margin-top: 26px;
	color: white;
	font-size: 30px;
}

.center__sub-main {
	position: relative;
	width: 460px;
	padding-top: 20px;
	margin: 0 auto;
}

.center__sub-main, .center__sub-main::after {
	content: '';
	display: block;
	clear: both;
}

.news-item1 {
	font-size: 14px;
	float: left;
	width: 48%;
	margin-right: 18px;
	margin-bottom: 20px;
}

.news-item1:nth-child(2n) {
	margin-right: 0;
}

.center__sub-main h4 {
	margin-top: 10px;
	margin-bottom: 15px;
}

.center__sub-main a {
	display: inline-block;
	vertical-align: middle;
	color: #91919f;
	font-size: 12px;
}

.sub-main__time {
	margin-left: 13px;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	background-image: url('../img/time.png');
	background-repeat: no-repeat;
	padding-left: 15px;

}

.sub-main__comments {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	background-image: url('../img/comments.png');
	background-repeat: no-repeat;
	padding-left: 15px;
	margin-left: 20px;
}

.central-container .container {
	overflow-y: hidden;
}


/* RIGHT ASIDE */

.column-right {
	width: 250px;
	float: right;
}

.column-right img {
	margin-bottom: 20px;
}


/* BOTTOM CONTAINER */

.bottom-container {
	margin-top: 20px;
	margin-bottom: 59px;
	float: left;
}

/* SPECIAL NEWS */

.special-news {
	width: 588px;
	min-height: 393px;
	background-color: #FFFFFF;
	position: relative;
	float: left;

}

.bottom-main__block {
	position: absolute;
	bottom: 16px;
	left: 20px;
}

.special-news a {
	color: #a1a1a0;
	text-decoration: none;
	font-size: 12px;
}

.special-news h2 {
	width: 400px;
	margin-top: 30px;
	color: white;
	font-size: 30px;
	margin-bottom: 19px;
}

.special-news__date {
	display: inline-block;
	vertical-align: middle;
	color: #d3d3d5;
	font-size: 12px;
}

.special-news__time {
	display: inline-block;
	vertical-align: middle;
	color: #d3d3d5;
	font-size: 12px;
	background-image: url('../img/clock-white.png');
	background-repeat: no-repeat;
	padding-left: 15px;
	margin-left: 18px;
}

.special-news__text {
	font-size: 14px;
	color: #8a8c90;
}

/* MOST READING NEWS */

.most-reading-news {
	float: left;
	width: 412px;
	min-height: 393px;
	background-color: #FFFFFF;
	padding-top: 30px;
	padding-left: 20px;
}

.most-reading-news h2 {
	padding-bottom: 15px;
	margin-bottom: 15px;
	padding-left: 50px;
	font-size: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.most-reading-news__time {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color: #a1a1a0;
	padding-left: 15px;
	margin-left: 13px;
	background-image: url('../img/time.png');
	background-repeat: no-repeat;
}

.most-reading-news__comments {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color: #a1a1a0;
	padding-left: 15px;
	margin-left: 19px;
	background-image: url('../img/comments.png');
	background-repeat: no-repeat;
}

/* FOOTER */

.footer {
	padding-top: 58px;
}

.footer {
	background-color: #00122f;

}

.logo {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
}

.bottom-logo {
	margin-top: 15px;
}

.bottom-logo h4 {
	line-height: 25px;
	display: inline-block;
	vertical-align: middle;
	width: 75px;
	color: #FFF;
	text-decoration: none;
}

.bottom_logo img {
	display: inline-block;
	vertical-align: middle;
}

.footer ul {
	-webkit-padding-start: 0px;
	        padding-inline-start: 0px;

}

.footer a {
	text-decoration: none;
	color: #FFF;
}

.footer-nav {
	line-height: 37px;
	width: 435px;
	float: left;
}

.footer-nav ul {
	-webkit-column-gap: 59px;
	        column-gap: 59px;
	-webkit-column-count: 2;
	        column-count: 2;
	float: left;
}

.footer-contact {
	line-height: 37px;
	width: 341px;
	float: left;
}

.social {
	line-height: 37px;
	vertical-align: top;
	width: 224px;
	float: left;
}

.social li {
	display: inline-block;
	margin-left: 10px;
}

.social a {
	display: block;
}

.vk {
	background-image: url("../img/vk.png");
}

.fb {
	background-image: url("../img/fb.png");
}

.twitter {
	background-image: url("../img/twitter.png");
}

.insta {
	background-image: url("../img/insta.png");
}

.icon {
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
}

.contacts {
	font-size: 17px;
	color: #ffffff;
}

.phone {
	background-image: url("../img/phone.png");
}

.mail {
	background-image: url("../img/mail.png");
}

.contact {
	background-repeat: no-repeat;
	padding-left: 40px;
	margin-top: 25px;
}

.copy {
	text-align: center;
	padding: 20px 0 18px 0;
	border-top: 1px solid #26354e;
	color: #545b69;
}

/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
	.nav {
		padding-top: 5px;
	}
	.nav li::after {
    color: #e5e5e8;
    content: '/';
		margin: 0px 18px;
	}
	.column-right {
	display: none;
	}
	.top__block-form {
		 margin-left: 13px;
	}
	.special-news {
		width: 548px;
	}
	.special-news img {
		width: 568px;
	}
	.news__wrapper {
		display: flex;
		justify-content: space-around;
	}
	.footer-contact {
		width: 301px;
	}
	.column-left {
		width: 100%;
	}
	.column-center {
		width: 100%;
	}
}
/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	input::placeholder {
		color: transparent
	}
	.black-bar{
		font-size: 14px;
	}
	.desktop-input {
		width: 115px;
	}
	.top__block {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.logo-header {
		width: 40px;
	}
	.nav li::after {
		margin: 0px 9px
	}
	.nav  ul{
		font-size: 14px;
	}
	.special-news img {
		width: 720px;
	}
	.most-reading-news {
		width: 720px
	}
	.footer-nav {
    width: 281px;
	}
	.footer-nav ul {
		column-gap: 15px;
	}
	.footer-contact {
		width: 215px;
	}
}


/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.column-left{
		order: 2;
	}
	.datetime {
		display: none;
	}
	.content {
		justify-content: space-around;
	}
	.top__block-menu {
		display: none;
	}
	.news__wrapper {
		flex-direction: column;
	}
	.center__main h2 {
		font-size: 24px;
	}
	.course-app {
		display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
		margin-bottom: 10px;
		font-size: 15px;
	}
	.course-app br {
			display: none;
	}
	.column-center {
		margin-left: 0px;
	}
	.center__main img {
		width: 100%;
	}
	.special-news img {
		width: 100%;
	}
	.most-reading-news {
    width: 100%;
    display: flex;
		flex-direction: column;
	}	
	.top__block-mobile {
		display: flex;
		justify-content: space-between;
	}
	.central-container {
    background-image: none;
	}
	.top__block-menu-mobile {
		display: flex;
		justify-content: space-between;
		color: #b2b2bb;
		font-size: 16px;
		padding: 25px 25px;
		background-color: #f9f9f9;
	}
	.top__block-menu-mobile .container{
		display: flex;
		justify-content: space-between;
	}
	.top__block-date {
		margin-left: 0;
	}
	.top__block-time {
		margin-left: 0;
	}
	
	.top__block-weather {
		margin-left: 0;
	}
	.column-left h2 {
		padding: 10px 18px;
	}
	.bottom-main__block{
		bottom: 115px;
	}
	.bottom-main__block h2 {
		font-size: 22px;
		width: 342px;
	}
	.special-news {
		width: 100%;
	}
	.special-news__text{
		display: none;
	}

}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container{
	width: 100%;
	}
}